---
const {label} = Astro.props;
---
<span class="pill text-gray-700 dark:text-gray-300 px-3 py-1 rounded-full content-center whitespace-nowrap text-xs">{label}</span>
<style>
    .pill{
        background-color: #2f95dc50;
    }
</style>